*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
   font-family: 'Titillium Web', sans-serif;
}

/* Variables */

:root {
   --color-main: #7477BF;
   --color-main-light: #D5D6EC;
   --color-main-dark: #4D4C72;
   --color-active-chart: #81C98F;
   --color-back-light: #F5F5F5;

   --color-font-primary: black;
   --color-font-secondary: white;
   --color-font-light: #676767;
   
   --font-size-large: 15px;
   --font-size-medium: 10px;

   --transition: all .2s ease-in-out;

   /*  Set the dimensions of the Slider Switch  */
  --switch-lenght: 130px;
  --switch-height: 40px;
  --switch-border: 2px;
   /*  Set the colors of the slider Switch  */
  --switch-color-off: lightgray;
  --switch-color-on: magenta;
  --switch-color-border: darkgray;
  /*  Set the font size of the slider Switch  */
  --switch-font-size: 1em;
 }

/* main */

.grid-container { /* body */
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: auto;
   /* Grid area content arrangement */
   grid-template-areas: 
      "header header"
      "aside aside"
      "main main";
   ;
}

header {
   grid-area: header;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 12px;
   background-color: var(--color-main);
   font-size: var(--font-size-large);
   color: var(--color-font-secondary);
}

.header {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

nav {
   grid-area: aside;
}

nav ul{
   display: flex;
   justify-content: center;
   gap: 25px;
   padding: 10px;
}

main {
   display: grid;
   grid-area: main;
}

section {
   padding: 0 10px;
   border-bottom: 2px solid var(--color-main-light);
}

section:first-child {
   border-bottom: none;
}

nav ul:hover {
   cursor: pointer;
}

ul {
   list-style: none;
}

h1 {
   font-size: 25px;
   margin: 0;
}
h2 {
   margin: 10px 0;
}

h3 {
   font-size: 18px;
   font-weight:600;
   margin: 10px 0 15px 0;
}

a {
   color: var(--color-main);
}

/* Components */

button,
input,
textarea,
select {
   width: 100%;
   padding: 10px;
   border: 2px solid var(--color-main-light);
   border-radius: 8px;
}

input,
textarea,
select {
   background-color: var(--color-back-light);
}

textarea {
   height: 100px;
   resize: none;
}

button {
   color: var(--color-font-secondary);
   background-color: var(--color-main);
   transition: var(--transition);
}

button:hover {
   font-weight: 500;
   background-color: var(--color-main-dark);
}

form {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
   padding-bottom: 10px;
}

canvas {
   padding-bottom: 10px;
}

/* === Header === */

.notification-icon {
   width: 25px;
   height: 25px;
}

.avatar,
[class*="link"] {
   width: 35px;
   height: 35px;
}

.avatar {
   border-radius: 50%;
}

#student-avatar {
   padding-left: 8px;
   border-left: 1px solid lightgrey;
}

.member-photo {
   width: 60px;
   height: 60px;
   border-radius: 50%;
}

#sidebar {
   background-color: var(--color-main-dark);
}

[id$="link"],
[class$="link"],
button {
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}

[id$="link"]:hover,
[class$="link"]:hover {
   transform: scale(1.1);
}

/* === === */

#headline {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding-right: 0;
}

.tab {
   height: 50px;
   width: 100%;
   margin: auto;
   margin-left: 20px;
   margin-right: auto;
   padding: 0;
   background-color: #F7F7F7;
   border-left: 2px solid var(--color-main-light);
   border-bottom: 2px solid var(--color-main-light);
}

/* === alert banner === */

#alert {
   margin: 5px 15px;
   padding: 10px;
   display: flex;
   justify-content: space-between;
   border-radius: 10px;
   background-color: var(--color-main);
   color: var(--color-font-secondary);
}

.alert-close-btn {
   cursor: pointer;
}

/* === charts === */

.traffic ul {
   display: flex;
   padding: 10px;
   justify-content: center;
   gap: 10px;
}

.traffic li {
   padding: 10px;
   font-size: var(--font-size-large);
   border-radius: 25px;
   background-color: var(--color-main-light);
}



/* === Social Stats === */

.social-stats ul {
   display: flex;
   flex-direction: column;
   padding: 10px;
   align-items: center;
   gap: 15px;
}

.social-stats li {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 15px;
   width: 100%;
   padding: 5px;
   font-size: var(--font-size-large);
   border: 2px solid var(--color-main-light);
   border-radius: 5px;
   background-color: var(--color-back-light);
}

.social {
   width: 60px;
   height: 60px;
   float: left;
   margin: 10px;
   fill: var(--color-main);
}

.social-icon{
   position: relative;
   width: 50px;
   height: 50px;
   margin-left: 10px;
   border-radius: 50%;
   background-color: var(--color-main);
}
svg {
   position: absolute;
   left: calc(50px/4);
   top: calc(50px/4);
   width: 25px;
   height: 25px;
   fill: white;
}

.social-name {
   font-size: 18px;
   color: var(--color-main);
}

.social-analitics {
   font-size: 35px;
   color: var(--color-font-light);
}

/* === New Members and Recent Acctivity Sections === */

.new-members,
.recent-activity {
   display: flex;
   flex-direction: column;
   padding: 10px 15px;
   align-items: center;
   border-bottom: 2px solid var(--color-main-light);
   
}

.new-members:last-child, 
.recent-activity:last-child {
   border-bottom: none;
}

p .member-name {
   font-weight:400;
}

.text {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.activity {
   text-align: center;
}

/* === Message User Section=== */

#message-for-user {
   height: 150px;
   color: var(--color-font-light);
}

/* === Setting Section === */

.setting {
   width: 100%;
   display: flex;
   flex-direction: row;
   /* margin: 10px 0 10px 0; */
   justify-content: space-between;
   align-items: center;
}

#btn-discard-settings {
   background-color: #999;
}

.btn-wrapper {
   display: flex;
   gap: 15px;
   width: 100%;
}





















































/* Reusable SLider Switch Designed by Giuseppe Ocello on codepen 
https://codepen.io/giuseppe-ocello/pen/ZEJMJRq?editors=1100 */
.switch {
   position: relative;
   display: inline-block;
   margin-right: 10px;
   width: var(--switch-lenght);
   height: var(--switch-height);
 }
 
 /* Hiding the default look of the checkbox */
 .slider-body {
   width: 0;
   height: 0;
   opacity: 0;
 }
 
 /* this is the sliding circle */
 .slider-tab {
   position: absolute;
   cursor: pointer;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   border: var(--switch-border) solid darkgray;
   border-radius: calc(var(--switch-height)/2);
   background-color: var(--switch-color-off);
 }
 
 /* :before is used for the tab that will slide once clicked, :after is for the text ON */
 .slider-tab:before,
 .slider-tab:after {
   position: absolute;
   bottom: calc(((var(--switch-height) + var(--switch-border))*0.2)/2 - var(--switch-border));
   width: calc(var(--switch-height)*0.8);
   height: calc(var(--switch-height)*0.8);
   transition: all .5s;
 }
 
 .slider-tab:before {
   left: calc(((var(--switch-height) + var(--switch-border))*0.2)/2 - var(--switch-border));
   content:"";
   border: var(--switch-border) solid var(--switch-color-border);
   border-radius: 50%;
   background-color: white;
 }
 
 .slider-tab:after {
   left: calc(var(--switch-lenght) - var(--switch-height));
   content:"OFF";
   text-align: center;
   line-height: calc(var(--switch-height)*0.8);
   background-color: transparent;
   font-size: var(--switch-font-size);
 }
 
 /* the magic part */
 .slider-body:checked + .slider-tab {
   background-color: var(--switch-color-on);
 }
 
 .slider-body:checked + .slider-tab:before {
   transform: translateX(calc(var(--switch-lenght) - var(--switch-height)));
 }
 
 .slider-body:checked + .slider-tab:after {
   content: "ON";
   color: white;
   transform: translateX(calc( (var(--switch-lenght) - var(--switch-height))*-1 ));
 }
 
 .slider-body:focus + .slider-tab {
   box-shadow: 2px 2px 2px gray;
 }
 
 /* it set the classes to obtain the transition of the entire switch */
 span {
   transition: all .3s;
 }
 
 span:hover {
   background-color: darkgray;
   transform: scale(1.02);
 }








 /* === Media Query === */

 @media screen and (min-width: 768px) {

   /* Grid arrangement */
   .grid-container {
      
      grid-template-columns: 55px 1fr;
      grid-template-areas: 
         "header header"
         "aside main"
         "aside main";
   }

   main {
      grid-template-columns: 50%;
   }

   #headline {
      grid-column: 1 / span 2;
   }

   #alert {
      grid-column: 1 / span 2;
   }

   .traffic,
   .social-stats,
   .new-members-container,
   .recent-activities-container,
   .message-user,
   .settings  {
      grid-column: 1 / span 2;
   }

   .daily-traffic {
      grid-column: 1 / span 1;
   }

   .mobile-users {
      grid-column: 2 / span 1;
      border-left: 2px solid var(--color-main-light);
   }

   /* main */

   nav ul {
      flex-direction: column;
      align-items: center;
      
   }

   /* sections */
   .social-stats ul {
      flex-direction: row;
   }

   .recent-activity p {
      display: block;
   }

   .traffic-header {
      display: flex;
      justify-content: space-between;
   }

   .new-members-container div,
   .recent-activities-container div {
      flex-direction: row;
      padding: 10px 15px;
      justify-content: space-between;
   }

   div .text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-grow: 2;
   }
   
   .switch {
      margin-right: 40%;
   }
 }

 @media screen and (min-width: 1024px) {
   
   /* grid arrangement */
   .grid-container {
      
      grid-template-columns: 55px 1fr;
      grid-template-areas: 
         "header header"
         "aside main"
         "aside main";
   }

   main {
      grid-template-columns: 50%;
   }

   #headline {
      grid-column: 1 / span 2;
   }

   #alert {
      grid-column: 1 / span 2;
   }

   .traffic,
   .social-stats {
      grid-column: 1 / span 2;
   }

   .daily-traffic,
   .new-members-container,
   .message-user {
      grid-column: 1 / span 1;
   }

   .mobile-users,
   .recent-activities-container,
   .settings {
      grid-column: 2 / span 1;
      border-left: 2px solid var(--color-main-light);
   }

   /* main  */
   nav ul {
      flex-direction: column;
      align-items: center;
      
   }

   /* sections */
   .social-stats ul {
      flex-direction: row;
   }

   .recent-activity p {
      display: block;
   }

   .traffic-header {
      display: flex;
      justify-content: space-between;
   }
 }